<h1>Editing hold_template</h1>

<%= render 'form' %>

<%= link_to 'Show', @hold_template %> |
<%= link_to 'Edit Selectable Cells', edit_selectable_cells_hold_template_path %> |
<%= link_to 'Back', hold_templates_path %>