<div id=<%= "grid_container_#{params[:action]}"%>>
  <table id=<%= "grid_#{params[:action]}"%>>
    <% for i in 1..model[:row_count] %>
        <tr>
          <% for j in 1..model[:column_count] %>
            <td></td>
          <% end %>
        </tr>
    <% end %>
  </table>
  <%= image_tag "hold_backgrounds/#{model[:vessel]}/#{model[:vessel]}_#{model[:hold].gsub(/\s+/, "")}_#{model[:row_count]}x#{model[:column_count]}.png", id: "grid_background_#{params[:action]}" %>
</div>