// Place all the styles related to the HoldTemplates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// ***********************  IMPORTANT: READ ME!!!!!!!    ************************************

//We want the CSS to behave differently depending on whether we're showing a record or editing it,
//so in the _hold_grid.html.erb, the id's of elements have the controller action dynamically appended to them,
//and the appropriate behavior is set here, as well as in hold_templates.js



#grid_container_show {
  width: "100%";
  height: "100%";
  position: absolute;
}

#grid_show {
  position: absolute;
}

#grid_show td {
  text-align: center;
  vertical-align: middle;

}

// ###############################################################################

#grid_container_edit {
  width: "100%";
  height: "100%";
  position: absolute;
}

#grid_edit {
  position: absolute;
}

#grid_edit td {
  text-align: center;
  vertical-align: middle;

}

.hover {
  background-color: rgba(255,255,0,0.4); //translucent yellow if selected
}

.selected {
  background-color: rgba(0,255,0,0.5); //translucent green if selected
}

.unselected {
  background-color: none; //totally transparent if unselected
}